header#header
  .clearfix
    #account.pull-left
      - if(user)
        div Logged in as #{user.displayName}
        div
          a(href='/') Home
        div
          a(href='/myMood') My Mood
        div
          a(href='/network') Network
        div
          a(href='/logout') Log out
      - else
        div
          a(href='/auth/facebook') Log in with Facebook
        div
          a(href='/auth/twitter') Log in with Twitter
