header#header
  .clearfix
    #account
      - if(user)
        .header.clearfix
          .title.pull-left MoodMeme
          .pull-right
            ul
              li
                a(href='/') Set Mood
              li
                a(href='/myMood') View Mood
              li
                a(href='/logout') Log Out
      - else
        div
          a(href='/auth/facebook') Log in with Facebook
        div
          a(href='/auth/twitter') Log in with Twitter
