header#header
  .clearfix
    #account
      - if(user)
        div.header
            h1=title
            div.btn-group
                button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', href='#')
                    span.caret
                ul.dropdown-menu
                    li
                        a(href='/')
                            i.icon-home Home
                    li
                        a(href='/myMood')
                            i.icon-globe Network
                    li
                        a(href='/logout') Log Out
      - else
        div
          a(href='/auth/facebook') Log in with Facebook
        div
          a(href='/auth/twitter') Log in with Twitter
