header#header
    #account
      - if(user)
        .header
          .title.row-fluid MoodMeme
          #actions.row-fluid
            ul
              li
                a(href='/') Set Mood
              li
                a(href='/myMood') View Moods
              li
                a(href='/askAFriend') Ask A Friend
              li
                a(href='/logout') Log Out
      - else
        .header
          .title.row-fluid MoodMeme
        div.socialLink.small-margin-top
          a(href='/auth/facebook') Log in with Facebook
        div.socialLink
          a(href='/auth/twitter') Log in with Twitter
