doctype 5
html(ng-app="App", lang="en")
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="MoodCtrl")
    .wrapper.row
      include header
      block content
  block scripts
