extends layout

block content
    div.container
      div.row-fluid
        #moodScales(ng-hide='alreadySetTheirMood')
          div(ng-repeat='scale in scales')
            div
              {{scale.type}}
            input.slider(type="hidden", ng-model="scale.value")
          div
            button.btn(ng-click='saveInputs()') Save
        #pictures.big-margin-top(ng-show='alreadySetTheirMood')
          div {{responseText}}
          img(ng-src="{{imgUrl}}")
          .small-margin-top
            div
              textarea(ng-model='description', placeholder='Optional explanation')
            div
              button.btn(ng-click='saveText()') Save

block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.3/angular.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
  script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
  script(src='/scripts/app.js')
  script(src='/scripts/main-mood-controller.js')
  script(src='/scripts/angular-local-storage.js')
  script(src='/scripts/services.js')
  script(type='text/javascript')
	$(function() {
		$( ".slider" ).slider({
		  range: "max",
		  min: 1,
		  max: 5,
		  slide: function(event, ui) {
			$(this).val(ui.value);
		  }
    });
