.wrapper {
  max-width: 960px;
  width: 80%;
  margin: 25px auto;
}
.big-margin-top {
  margin-top: 25px;
}
.small-margin-top {
  margin-top: 15px;
}
.moodSet {
  margin: 10px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #333;
}
.moodSet:last-child {
  border-bottom: 0px solid #333;
}
