body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 20px;
}
.wrapper {
    max-width: 960px;
    margin: 25px auto;
}
.big-margin-top {
    margin-top: 25px;
}
.small-margin-top {
    margin-top: 15px;
}
.moodSet {
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #333;

    &:last-child {
        border-bottom: 0px solid #333;
    }
}
